p-card {
    border-radius: 3px;
    margin: 0.30em;
    text-align: left;
    padding: 2em 0 2.25em 0;
    margin-top: 150px;
}

.a-prop {
     color: rgb(9, 129, 228); 
}

.a-prop:hover {
    color: green;
    text-decoration:underline;
    }