
 <ng-container *ngIf="collaborateur">

COLLABORATEUR : {{collaborateur.uid}}

<form [formGroup]="collaborateurForm" (ngSubmit)="saveCollaborator()">

    <div class="form-group">
        <label>Civilité :
                <input class="form-control" size="60" type="text" formControlName="civilite" >
        </label>
    </div>
    <div class="form-group">
        <label>Nom:
                <input class="form-control"  size="60" type="text" formControlName="nom" >
        </label>
    </div>
    <div class="form-group">
        <label>Prénom:
                <input class="form-control"  size="60" type="text" formControlName="prenom" >
        </label>
    </div>


    <button  *ngIf="collaborateurUid" pButton type="button" label="Modifier" class="ui-button-rounded" (click)="saveCollaborator()"></button>
    </form>
</ng-container>
