
 <ng-container *ngIf="collaborateur">
   <p-dialog header="Détail du collaborateur" [(visible)]="display" [style]="{width: '80%'}" [modal]="true" [maximizable]=true>

    <p-card [header]="collaborateur.civilite + ' ' + collaborateur.prenom + ' ' + collaborateur.nom" [subheader]="collaborateur.fonction" [style]="{width: '100%'}" styleClass="ui-card-shadow">
        <p-header>
            <b><u>COLLABORATEUR</u></b> : {{collaborateur.uid}}
        </p-header>

        <div>
            {{collaborateur.telephone}} , {{collaborateur.mail}}
         <br><br>
        <b> LOCALISATION </b>: {{collaborateur.localisationCollaborateur}}
        <br>
        <b>PJ </b>: {{collaborateur.pj}}
        <br>
        <b>UO AFFECTATION </b>: {{collaborateur.uoAffectation}}
        <br>
        <b>ETAGE </b>: {{collaborateur.etage}}
        <br>
        <b>CODE </b>: {{collaborateur.codeImmeubleEmplacementCollaborateur}}
        <br>
        <b>REGION </b>: {{collaborateur.region}} &nbsp;&nbsp;
        <b>CODE REGION </b>: {{collaborateur.codeRegion}}
        <br>
        <b>TERRITOIRE </b>: {{collaborateur.niveauTerritoire}} &nbsp;&nbsp;
        <b>CODE TERRITOIRE </b>: {{collaborateur.codeTerritoire}}
        <br>
        <b>ENTITE </b>: {{collaborateur.niveauEntite}} &nbsp;&nbsp;
        <b>CODE ENTITE </b>: {{collaborateur.codeEntite}}
        <br>
        <b>AGENCE </b>: {{collaborateur.niveauAgence}} &nbsp;&nbsp;
        <b>CODE AGENCE </b>: {{collaborateur.codeAgence}}
        </div>

        <p-footer>
            <b> A MIGRER :</b> {{collaborateur.aMigrer}}
            &nbsp;&nbsp; (<a [routerLink]="['/collaborateurs']"> Retour... </a>)
        </p-footer>
    </p-card>

    </p-dialog>

<br><br>
<b><u>COLLABORATEUR</u></b> : {{collaborateur.uid}} <a class="a-prop" (click)="showDialog()"> Voir le détail ... </a>&nbsp;&nbsp; ou &nbsp;&nbsp;
<a [routerLink]="['/collaborateurs']"> Retour... </a>

</ng-container>
