<h2>{{outputs.length }} enregistrements</h2>
  <p-table #dt1 [columns]="cols" [value]="outputs" [scrollable]="true" scrollHeight="675px"
           [paginator]="true" [rows]="100" [rowsPerPageOptions]="[5,10,50,100]" paginatorPosition="bottom" sortMode="multiple"
           selectionMode="multiple" [(selection)]="selectedOutputs">
    <ng-template pTemplate="caption">
      <div style="text-align: left">
          <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt1.exportCSV()" style="margin-right: 0.5em;"></button>
<!--          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>-->
<!--          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning" style="margin-right: 0.5em;"></button>-->
          <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt1.exportCSV({selectionOnly:true})"></button>
              <span>
              </span>
              <span style="width:auto;float:right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')">
              </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width:300px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="frozenrows" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <b>{{rowData[col.field]}}</b>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'display': col.display}">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

<!--  <h2>{{valids.length }} enregistrements valides</h2>-->
<!--  <p-table #dt2 [columns]="cols" [value]="valids" [scrollable]="true" scrollHeight="300px"-->
<!--           [paginator]="true" [rows]="100" [rowsPerPageOptions]="[5,10,50,100]" paginatorPosition="both" sortMode="multiple">-->
<!--    <ng-template pTemplate="caption">-->
<!--      <div style="text-align: right">-->
<!--        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>-->
<!--        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:auto">-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="colgroup" let-columns>-->
<!--      <colgroup>-->
<!--        <col *ngFor="let col of columns" style="width:300px">-->
<!--      </colgroup>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="header" let-columns>-->
<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [pSortableColumn]="col.field">-->
<!--          {{col.header}}-->
<!--          <p-sortIcon [field]="col.field"></p-sortIcon>-->
<!--        </th>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <th *ngFor="let col of columns" [ngSwitch]="col.field">-->
<!--          <input *ngSwitchCase="'nom'" pInputText type="text" (input)="dt2.filter($event.target.value, col.field, 'contains')">-->
<!--          <p-dropdown *ngSwitchCase="'domaine'" [options]="domaines" [style]="{'width':'100%'}" (onChange)="dt2.filter($event.value, col.field, 'equals')"></p-dropdown>-->
<!--          <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt2.filter($event.target.value, col.field, 'custom')">-->
<!--        </th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-rowData let-columns="columns">-->
<!--      <tr [pSelectableRow]="rowData">-->
<!--        <td *ngFor="let col of columns">-->
<!--          {{rowData[col.field]}}-->
<!--        </td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->
