<ng-container *ngIf="spinner;else started">
  <div class="center-spinner">
      <p-progressSpinner  [style]="{width: '100px', height: '100px',margin: '0 auto'}" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
  </div>
</ng-container>

<ng-template #started>
  <ng-container>

    <ng-container *ngIf="checked1;else etendu">
      <br>
      <div style="display:flex;justify-content:space-between;align-items-center">
        <h2>{{valids.length }} enregistrements valides</h2>
        <button type="button" pButton icon="fas fa-cogs" iconPos="left" label="Transformer"(click)="transform()"
                style="width:170px;height:auto;font-size:100%;border-radius:1000px"></button>

        <p-toggleButton [(ngModel)]="checked1" onLabel=" => toutes les colonnes" offLabel=" => colonnes réduites"
                        onIcon="fas fa-compress-arrows-alt" offIcon="fas fa-expand-arrows-alt" (onChange)="handleChange($event)"></p-toggleButton>
      </div>
      <br>
      <p-table #dt2 [columns]="cols1" [value]="valids" [scrollable]="true" scrollHeight="300px"
               [paginator]="true" [rows]="valids.length" [rowsPerPageOptions]="[5,10,50,100,valids.length]" paginatorPosition="bottom" sortMode="multiple"
               selectionMode="multiple" [(selection)]="selectedOutputs" [resizableColumns]="false">
        <ng-template pTemplate="caption">
          <div style="display:flex;justify-content:space-between;align-items-center">

            <div>
              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt2.exportCSV()" style="margin-right: 0.5em;"></button>
              <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - sélection" (click)="dt2.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;"></button>
            </div>
            <div style="width:auto">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt2.filterGlobal($event.target.value, 'contains')">
            </div>

          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <ng-container *ngFor="let col of columns">
              <td  class="ui-resizable-column">
                {{rowData[col.field]}}
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>

      <h2>{{rejets.length }} enregistrements en erreur</h2>

      <p-table #dt1 [columns]="cols1" [value]="rejets" [scrollable]="true" scrollHeight="300px"
               [paginator]="true" [rows]="rejets.length" [rowsPerPageOptions]="[5,10,50,100,rejets.length]" paginatorPosition="bottom" sortMode="multiple"
               selectionMode="multiple" [(selection)]="selectedOutputs" [resizableColumns]="false">
        <ng-template pTemplate="caption">
          <div style="display:flex;justify-content:space-between">

            <div>
              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt1.exportCSV()" style="margin-right: 0.5em;"></button>
              <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - sélection" (click)="dt1.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;"></button>
              <i class="icone fas fa-user-edit fa-lg"  pDroppable="a" (onDrop)="dropEdit($event)" *ngIf="showIcons"></i>
            </div>

            <div style="width:auto">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')">
            </div>

          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
  <!--          <tr [pSelectableRow]="rowData">-->
          <tr>
            <ng-container *ngFor="let col of columns">

              <td class="ui-resizable-column">

                  <ng-container *ngIf="col.field == 'identifiant';else alter">

                    <a [routerLink]="['/saisie/output']"
                       [queryParams]="{identifiant: rowData['identifiant'],
                                       nom: rowData['nom'],
                                       prenom: rowData['prenom'],
                                       email: rowData['email'],
                                       domaine: rowData['domaine'],
                                       equipe: rowData['equipe'],
                                       profil: rowData['profil'],
                                       competences: rowData['competences']}"
                       queryParamsHandling="merge">{{rowData[col.field]}}</a>
                       <i class="icone fas fa-pencil-alt fa-lg" style="float:right" pDraggable="a" (onDragStart)="dragStart($event,{identifiant: rowData['identifiant'],
                                       nom: rowData['nom'],
                                       prenom: rowData['prenom'],
                                       email: rowData['email'],
                                       domaine: rowData['domaine'],
                                       equipe: rowData['equipe'],
                                       profil: rowData['profil'],
                                       competences: rowData['competences']})" (onDragEnd)="dragEnd($event)">
                       </i>
                  </ng-container>

                  <ng-template #alter>
                    <a>{{rowData[col.field]}}</a>
                  </ng-template>

              </td>

            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>

    <ng-template #etendu>
      <br>
      <div style="display:flex;justify-content:space-between;align-items-center">
        <h2>{{valids.length }} enregistrements valides</h2>
        <button type="button" pButton icon="fas fa-cogs" iconPos="left" label="Transformer"(click)="transform()"
                style="width:170px;height:auto;font-size:100%;border-radius:1000px"></button>

        <p-toggleButton [(ngModel)]="checked1" onLabel=" => toutes les colonnes" offLabel=" => colonnes réduites"
                        onIcon="fas fa-compress-arrows-alt" offIcon="fas fa-expand-arrows-alt" (onChange)="handleChange($event)"></p-toggleButton>
      </div>
      <br>
      <p-table #dt2 [columns]="cols2" [value]="valids" [scrollable]="true" scrollHeight="300px"
               [paginator]="true" [rows]="valids.length" [rowsPerPageOptions]="[5,10,50,100,valids.length]" paginatorPosition="bottom" sortMode="multiple"
               selectionMode="multiple" [(selection)]="selectedOutputs" [resizableColumns]="true">
        <ng-template pTemplate="caption">
          <div style="display:flex;justify-content:space-between;align-items-center">

            <div>
              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt2.exportCSV()" style="margin-right: 0.5em;"></button>
              <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - sélection" (click)="dt2.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;"></button>
            </div>
            <div style="width:auto">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt2.filterGlobal($event.target.value, 'contains')">
            </div>

          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width:198px">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <ng-container *ngFor="let col of columns">
              <td  class="ui-resizable-column">
                {{rowData[col.field]}}
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>

      <h2>{{rejets.length }} enregistrements en erreur</h2>

      <p-table #dt1 [columns]="cols2" [value]="rejets" [scrollable]="true" scrollHeight="300px"
               [paginator]="true" [rows]="rejets.length" [rowsPerPageOptions]="[5,10,50,100,rejets.length]" paginatorPosition="bottom" sortMode="multiple"
               selectionMode="multiple" [(selection)]="selectedOutputs" [resizableColumns]="true">
        <ng-template pTemplate="caption">
          <div style="display:flex;justify-content:space-between">

            <div>
              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt1.exportCSV()" style="margin-right: 0.5em;"></button>
              <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - sélection" (click)="dt1.exportCSV({selectionOnly:true})" style="margin-right: 0.5em;"></button>
            </div>

            <div style="width:auto">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')">
            </div>

          </div>
        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" style="width:198px">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-container>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <ng-container *ngFor="let col of columns">
              <td class="ui-resizable-column">
                {{rowData[col.field]}}
              </td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </ng-container>
</ng-template>
