<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Suppression de Saisie" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<ng-container *ngIf="saisies">
    <h2>{{saisies.length }} Saisies </h2>

    <ng-container *ngIf="!addSaisie">
        <h5><i class="icone far fa-plus-square fa-md" (click)="addSaisie=!addSaisie"> Ajouter une Saisie</i></h5>
    </ng-container>

    <ng-container *ngIf="addSaisie">
        <h5><i class="icone far fa-minus-square fa-md" (click)="addSaisie=!addSaisie"></i> </h5>
        <form [formGroup]="saisiePostForm" (ngSubmit)="saveSaisie()">
            <p-table [value]="saisies">
                <ng-template pTemplate="header">
                        <th colspan="1"><input type="text" formControlName="collaborateurUid" placeholder="Uid" (keyup.enter)="saveSaisie()"></th>
                        <th colspan="3"><input type="text" formControlName="domaine" placeholder="domaine" (keyup.enter)="saveSaisie()"></th>
                        <th colspan="3"><input type="text" formControlName="equipe" placeholder="equipe" (keyup.enter)="saveSaisie()"></th>
                        <th colspan="3"><input type="text" formControlName="profil" placeholder="profil" (keyup.enter)="saveSaisie()"></th>
                        <th colspan="5"><input type="text" formControlName="competences" placeholder="competences" (keyup.enter)="saveSaisie()"></th>
                        <th>&nbsp;&nbsp; <i class="icone far fa-check-square" (click)="saveSaisie()"></i></th>
                </ng-template>
            </p-table>
        </form>
    </ng-container>

    <br>

    <form [formGroup]="saisiePutForm">
        <p-table #dt [columns]="cols" [value]="saisies">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [colSpan]="col.colspan" pResizableColumn>
                        {{col.header}}
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [ngSwitch]="col.field" [colSpan]="col.colspan">
                        <input *ngSwitchCase="'collaborateurUid'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input *ngSwitchCase="'domaine'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input *ngSwitchCase="'equipe'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input *ngSwitchCase="'profil'" pInputText type="text"  (input)="dt.filter($event.target.value, col.field, 'contains')">
                        <input *ngSwitchCase="'competences'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-saisie>
                <tr>
                    <td colspan="1">
                            {{saisie.collaborateurUid}}
                    </td>
                    <td colspan="3">
                        <ng-container *ngIf="saisie !== saisieToModify; else modifyDomaine">
                            {{saisie.domaine}}
                        </ng-container>
                        <ng-template #modifyDomaine>
                            <input type="text" formControlName="domaine" (keyup.enter)="modifySaisie()">
                        </ng-template>
                    </td>
                    <td colspan="3">
                        <ng-container *ngIf="saisie !== saisieToModify; else modifyEquipe">
                            {{saisie.equipe}}
                        </ng-container>
                        <ng-template #modifyEquipe>
                            <input type="text" formControlName="equipe" (keyup.enter)="modifySaisie()">
                        </ng-template>
                    </td>
                    <td colspan="3">
                        <ng-container *ngIf="saisie !== saisieToModify; else modifyProfil">
                            {{saisie.profil}}
                        </ng-container>
                        <ng-template #modifyProfil>
                            <input type="text" formControlName="profil" (keyup.enter)="modifySaisie()">
                        </ng-template>
                    </td>
                    <td colspan="5">
                        <ng-container *ngIf="saisie !== saisieToModify; else modifyCompetences">
                            {{saisie.competences.replace(',',',\n')}}
                        </ng-container>
                        <ng-template #modifyCompetences>
                            <input type="text" formControlName="competences" (keyup.enter)="modifySaisie()">
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="saisie !== saisieToModify; else modifyIcones">
                            <i class="icone far fa-edit" (click)="showModifyForm(saisie)"></i>&nbsp;&nbsp;
                            <i class="icone far fa-trash-alt" (click)="deleteSaisie(saisie.id)"></i>&nbsp;&nbsp;
                        </ng-container>
                        <ng-template #modifyIcones>
                            <i class="icone pi pi-times" (click)="saisieToModify=null"></i>&nbsp;&nbsp;
                            <i class="icone pi pi-check" (click)="modifySaisie()"></i>&nbsp;&nbsp;
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>
</ng-container>
<br><br>