<ng-container *ngIf="collaborateurs.length === 0 ;else started">
    <div class="center-spinner">
        <p-progressSpinner [style]="{width: '100px', height: '100px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
    </div>
  </ng-container>

<ng-template #started>
<ng-container *ngIf="collaborateur">

  <p-dialog header="Détail du collaborateur" [(visible)]="displayDetail" [style]="{width: '70%'}" [modal]="true" [maximizable]=true>

   <p-card [header]="collaborateur.civilite + ' ' + collaborateur.prenom + ' ' + collaborateur.nom" [subheader]="collaborateur.fonction" [style]="{width: '100%'}" styleClass="ui-card-shadow">

       <p-header>
         <h3><u>COLLABORATEUR</u> : <b>{{collaborateur.uid}}</b></h3>
       </p-header>

       <div>
           <b>{{collaborateur.telephone}} , {{collaborateur.mail}}</b>
        <br><br>
       LOCALISATION : <b>{{collaborateur.localisationCollaborateur}}</b>
       <br>
       PJ : <b>{{collaborateur.pj}}</b>
       <br>
       UO AFFECTATION : <b>{{collaborateur.uoAffectation}}</b>
       <br>
       ETAGE : <b>{{collaborateur.etage}}</b>
       <br>
       CODE : <b>{{collaborateur.codeImmeubleEmplacementCollaborateur}}</b>
       <br>
       REGION : <b>{{collaborateur.region}}</b> &nbsp;&nbsp;
       CODE REGION : <b>{{collaborateur.codeRegion}}</b>
       <br>
       TERRITOIRE : <b>{{collaborateur.niveauTerritoire}}</b> &nbsp;&nbsp;
       CODE TERRITOIRE : <b>{{collaborateur.codeTerritoire}}</b>
       <br>
       ENTITE : <b>{{collaborateur.niveauEntite}}</b> &nbsp;&nbsp;
       CODE ENTITE : <b>{{collaborateur.codeEntite}}</b>
       <br>
       AGENCE : <b>{{collaborateur.niveauAgence}}</b> &nbsp;&nbsp;
       CODE AGENCE : <b>{{collaborateur.codeAgence}}</b>
       </div>

       <p-footer>
           A MIGRER : <b>{{collaborateur.aMigrer}}</b>
           &nbsp;&nbsp;
           <br><br>
           <p-button label="Retour"  (onClick)="viewDetailCollaboratorClose()"></p-button>
       </p-footer>

   </p-card>

   </p-dialog>

</ng-container>


<ng-container *ngIf="collaborateurs">

  <h2>{{collaborateurs.length }} Collaborateurs </h2>

  <ng-container *ngIf="showIcons">

    <i class="icone far fa-eye fa-lg drop"  pDroppable="collaborateur" (onDrop)="dropView($event)"></i>
    &nbsp;&nbsp;
    <i class="icone fas fa-exchange-alt fa-lg drop" pDroppable="collaborateur" (onDrop)="dropTransform($event)"></i>
    &nbsp;&nbsp;
    <i class="icone far fa-edit fa-lg drop"  pDroppable="collaborateur" (onDrop)="dropEdit($event)" ></i>
    &nbsp;&nbsp;
    <i class="icone far fa-trash-alt drop" pDroppable="collaborateur" (onDrop)="dropTrash($event)"></i>

  </ng-container>

  <br>

  <p-table #dt  [scrollable]="true" scrollHeight="400px" [value]="collaborateurs" [globalFilterFields]="['uid','nom','prenom','fonction','codeAgence','aMigrer']" [paginator]="true" [rows]="collaborateurs.length" [rowsPerPageOptions]="[5,10,50,100,collaborateurs.length]" paginatorPosition="bottom" >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [pSortableColumn]= "'uid'">Uid
              <p-sortIcon [field]="'uid'"></p-sortIcon>
            </th>
            <th colspan="2" [pSortableColumn]= "'nom'">Nom<p-sortIcon [field]="'nom'"></p-sortIcon></th>

            <th colspan="2" [pSortableColumn]= "'prenom'">Prénom<p-sortIcon [field]="'prenom'"></p-sortIcon></th>

            <th colspan="3" [pSortableColumn]= "'fonction'">Fonction<p-sortIcon [field]="'fonction'"></p-sortIcon></th>

            <th [pSortableColumn]= "'codeAgence'">code Agence<p-sortIcon [field]="'codeAgence'"></p-sortIcon></th>

            <th  [pSortableColumn]= "'aMigrer'">à Migrer<p-sortIcon [field]="'aMigrer'"></p-sortIcon></th>

            <th  [pSortableColumn]= ""></th>
        </tr>
    </ng-template>
    {{collaborateurs.length }}

      <ng-template pTemplate="body" let-collaborateur>

          <tr>
              <td ><i class="fas fa-grip-lines" pDraggable="collaborateur" (onDragStart)="dragStart($event,collaborateur)" (onDragEnd)="dragEnd($event)"></i>&nbsp;&nbsp;{{collaborateur.uid}}</td>
              <td colspan="2">{{collaborateur.nom}}</td>
              <td colspan="2">{{collaborateur.prenom}}</td>
              <td colspan="3">{{collaborateur.fonction}}</td>
              <td>{{collaborateur.codeAgence}}</td>
              <td>{{collaborateur.aMigrer}}</td>
              <td>
                <i class="icone far fa-eye fa-lg" (click)="viewDetailCollaborator(collaborateur)"> </i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="icone fas fa-exchange-alt fa-lg" (click)="getTransformByUid(collaborateur)" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="icone far fa-edit fa-lg" [routerLink]="['/collaborateurs',collaborateur.uid]"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="icone icone far fa-trash-alt" (click)="openTrash(collaborateur)"></i>
              </td>
          </tr>

      </ng-template>

  </p-table>


  <p-dialog header="Suppression" [(visible)]="trash" [style]="{width: '20%'}" [modal]="true">
    Etes vous certain de vouloir supprimer ce collaborateur ?
   <br>
   <b>ATTENTION : </b> Cette action est irréversible
   <br><br>
   SUPPRESSION : &nbsp;
   <p-button label="Non" (onClick)="closeTrash()"></p-button>
   &nbsp;&nbsp; ou &nbsp;&nbsp;
   <p-button label="Oui" styleClass="ui-button-danger" (click)="onDelete(collaborateur)"></p-button>
  </p-dialog>


  <p-dialog *ngIf="output" header="Détail de la Transformation" [(visible)]="displayTransform" [style]="{width: '40%'}" [modal]="true">
    COLLABORATEUR :  <b>{{output.identifiant}}</b>
    <br>
    NOM : <b>{{output.nom}}</b>>
    <br>
    PRENOM : <b>{{output.prenom}}</b>
    <br>
    MAIL : <b>{{output.email}}</b>
    <br>
    EQUIPE : <b *ngIf="!errorEquipe" class="black"> {{output.equipe}}</b> <b *ngIf="errorEquipe" class="red"> {{output.equipe}}</b>
    <br>
    PROFIL : <b *ngIf="!errorProfil" class="black"> {{output.profil}}</b> <b *ngIf="errorProfil" class="red"> {{output.profil}}</b>
    <br>
    DOMAINE : <b *ngIf="!errorDomain" class="black"> {{output.domaine}}</b> <b *ngIf="errorDomain" class="red"> {{output.domaine}}</b>
    <br>
    COMPETENCES : <b *ngIf="!errorCompetences" class="black"> {{output.competences}}</b> <b *ngIf="errorCompetences" class="red"> {{output.competences}}</b>
    <br><br>
    <p-button label="Retour"  (onClick)="viewTransformClose()"></p-button>
  </p-dialog>

  <p-dialog  header="ERREUR GLOBALE" [(visible)]="displayTransformError" [style]="{width: '40%'}" [modal]="true">
        <br>
        <b class="red">{{error}}</b>
        <br><br>

        <p-button label="Retour"  (onClick)="viewTransformErrorClose()"></p-button>
  </p-dialog>

</ng-container>

  </ng-template>