body {
    padding-left: 3em;
    padding-right: 3em;
}

.epita {
    float:right;
    max-width: 3%;
	height: auto;
}


.icone {
    opacity: 50%;
}

.icone:hover{
    opacity: 100%;
    cursor: pointer;
    // font-size: 150%;
}

.icone-sort {
    float:right
}
