<p-messages [(value)]="msgs"></p-messages>

<ng-container *ngIf="competences">

    <h2>{{competences.length }} Compétences </h2>

    <h2><i class="icone far fa-plus-square fa-lg"></i> Ajouter une Compétence</h2>

    <p-table [value]="competences">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>deploiement</th> -->
                <th colspan="3">Competence<i class="icone-sort pi pi-sort-alpha-down-alt"></i></th>
                <th colspan="9">Descriptif<i class="icone-sort pi pi-sort-alpha-down-alt"></i></th>
            </tr>

        </ng-template>


        {{competences.length }}

        <ng-template pTemplate="body" let-competence>
            <tr>
                <!-- <td>{{regle.deploiement}}</td> -->
                <td colspan="3">{{competence.competence}}</td>
                <!-- <td colspan="1">{{}}</td> -->
                <td colspan="9">{{competence.descriptif}}</td>
                <td>
                    <!-- <i class="icone far fa-eye fa-lg" (click)="viewDetail(regle)"></i>&nbsp;&nbsp; -->
                    <!-- <i class="icone fas fa-fw fa-book fa-lg"></i>&nbsp; -->
                    <i class="icone far fa-edit"></i>&nbsp;&nbsp;
                    <i class="icone far fa-trash-alt" (click)="deleteCompetence(competence.id)"></i>&nbsp;

                </td>
            </tr>
        </ng-template>

    </p-table>

  </ng-container>