<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Delete" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<ng-container *ngIf="competences">

    <h2>{{competences.length }} Compétences </h2>

    <ng-container *ngIf="!addCompetence">
        <h5><i class="icone far fa-plus-square fa-md" (click)="addCompetence=!addCompetence"> <span style="opacity:unset"> Ajouter une Compétence</span></i></h5>
    </ng-container>
    <ng-container *ngIf="addCompetence">
        <h5><i class="icone far fa-minus-square fa-md" (click)="addCompetence=!addCompetence"></i> </h5>
        <form [formGroup]="competenceForm" (ngSubmit)="saveCompetence()">
            <p-table [value]="competences">
                <ng-template pTemplate="header">
                        <th colspan="3"><input type="text" formControlName="competence" placeholder="Competence" (keyup.enter)="saveCompetence()"></th>
                        <th colspan="9"><input type="text" formControlName="descriptif" placeholder="Descriptif" (keyup.enter)="saveCompetence()"></th>
                        <th>&nbsp;&nbsp; <i class="icone far fa-check-square" (click)="saveCompetence()"></i></th>
                </ng-template>
            </p-table>
        </form>
    </ng-container>
    <br>

    <form [formGroup]="descriptifForm">

    <p-table [value]="competences">
        <ng-template pTemplate="header">
            <tr>
                <th colspan="3">Competence
                    <i class="icone icone-sort pi pi-sort-down" [hidden]="competenceSort" (click)="sortBy('COMPETENCE')"></i>
                    <i class="icone icone-sort pi pi-sort-up" [hidden]="!competenceSort" (click)="sortBy('COMPETENCE')"></i>
                </th>
                <th colspan="9">Descriptif
                    <i class="icone icone-sort pi pi-sort-down" [hidden]=descriptifSort (click)="sortBy('DESCRIPTIF')"></i>
                    <i class="icone icone-sort pi pi-sort-up" [hidden]=!descriptifSort (click)="sortBy('DESCRIPTIF')"></i>
                </th>
            </tr>
        </ng-template>




        {{competences.length }}
        <ng-template pTemplate="body" let-competence>
            <tr>
                <td colspan="3">{{competence.competence}}</td>
                <td colspan="9">
                    <ng-container *ngIf="competence !== competenceToModify; else modifyDescriptif">
                        {{competence.descriptif}}
                    </ng-container>
                    <ng-template #modifyDescriptif>
                        <input type="text" formControlName="descriptif" [value]="competence.descriptif" (keyup.enter)="modifyCompetence()">
                    </ng-template>
                </td>

                <td>
                    <ng-container *ngIf="competence !== competenceToModify; else modifyIcones">
                        <i class="icone far fa-edit" (click)="competenceToModify=competence"></i>&nbsp;&nbsp;

                            <i class="icone far fa-trash-alt" (click)="deleteCompetence(competence.id)"></i>&nbsp;&nbsp;
                    </ng-container>
                    <ng-template #modifyIcones>
                        <i class="icone pi pi-times" (click)="competenceToModify=null"></i>&nbsp;&nbsp;
                        <i class="icone pi pi-check" (click)="modifyCompetence()"></i>&nbsp;&nbsp;
                    </ng-template>
                </td>
            </tr>
        </ng-template>


    </p-table>
</form>
  </ng-container>
  <br>
  <br>