
<p-messages [(value)]="msgs"></p-messages>

<ng-container *ngIf="regles">
  <p-confirmDialog header="Suppression" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <h2>{{regles.length }} Règles </h2>
  <h5><i class="icone far fa-plus-square fa-md" (click)="goCreate()"> Ajouter une règle</i></h5>
  <br>

  <p-table  #dt [columns]="cols" [value]="regles" [paginator]="true" [rows]="regles.length" [rowsPerPageOptions]="[5,10,100]" paginatorPosition="bottom" [resizableColumns]="true">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [colSpan]="col.colspan" pResizableColumn>
          {{col.header}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [colSpan]="col.colspan" [ngSwitch]="col.field">
          <input *ngSwitchCase="'metier'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'posteType'" pInputText type="text" size="15"  (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'domaine'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'stratesEquipes'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'profil'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'equipesSupervisees'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'descriptifEquipesSupervisses'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'competencesForSearch'" pInputText type="text" size="15" (input)="dt.filter($event.target.value, col.field, 'contains')">
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns; let i=index" class="ui-resizable-column" [colSpan]="col.colspan">
          <span *ngIf="col.field === 'metier'"> {{reformatMetier(rowData.metier)}} </span>
          <span *ngIf="col.field !== 'competences' && col.field !=='metier' && col.field !=='actions'">  {{rowData[col.field]}} </span>
          <span *ngIf="col.field === 'competences'"> {{rowData.competences}} </span>
          <span *ngIf="col.field === 'actions'">
            <i class="icone far fa-eye fa-lg" (click)="goView(rowData.id)"></i>&nbsp;&nbsp;
            <i class="icone far fa-edit" (click)="goUpdate(rowData)" ></i>&nbsp;
            <i class="icone icone far fa-trash-alt" (click)="deleteRegle(rowData.id)"></i>&nbsp; </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

