

<ng-container *ngIf="regleDetail">

    <p-dialog header="Détail de la Règle de gestion" [(visible)]="display" [style]="{width: '80%'}" [modal]="true" [maximizable]=true>
        <div class="container">
            <div class="row">
              <div class="col-3">Déploiement </div>
              <div class="col-9">: {{regleDetail.deploiement}}</div>
            </div>
            <div class="row">
              <div class="col-3">Métier </div>
              <div class="col-9">: {{regleDetail.metier}}</div>
            </div>
            <div class="row">
              <div class="col-3">Poste Type </div>
              <div class="col-9">: {{regleDetail.posteType}}</div>
            </div>
            <div class="row">
              <div class="col-3">Domaine </div>
              <div class="col-9">: {{regleDetail.domaine}}</div>
            </div>
            <div class="row">
              <div class="col-3">Strates Équipes </div>
              <div class="col-9">: {{regleDetail.stratesEquipes}}</div>
            </div>
            <div class="row">
              <div class="col-3">Profil </div>
              <div class="col-9">: {{regleDetail.profil}}</div>
            </div>
            <div class="row">
              <div class="col-3">Équipes Supervisées </div>
              <div class="col-9">: {{regleDetail.equipesSupervisees}}</div>
            </div>
            <div class="row">
              <div class="col-3">Descriptif Équipes Supervisées </div>
              <div class="col-9">: {{regleDetail.descriptifEquipesSupervisses}}</div>
            </div>
            <div class="row">
              <div class="col-3">Competences  </div>
              <div class="col-9">:</div>
              <ng-container *ngFor="let competence of regleDetail.competences">
                <div class="col-1"></div>
                <div class="col-3">Competence </div>
                <div class="col-8">: {{competence.competence}}</div>
                <div class="col-1"></div>
                <div class="col-3">Descriptif </div>
                <div class="col-8">: {{competence.descriptif}}</div>
                <div class="col-12"></div>
              </ng-container>

            </div>
        </div>
    </p-dialog>
</ng-container>

<ng-container *ngIf="regles">

    <h2>{{regles.length }} Règles </h2>
    <p-table [value]="regles">
      <ng-template pTemplate="header">
          <tr>
              <!-- <th>deploiement</th> -->
              <th colspan="1">Métier<i class="icone-sort pi pi-sort-alpha-down-alt" (click)="sortBy('METIER')"></i></th>
              <th colspan="3">Poste type<i class="icone-sort pi pi-sort-alpha-down-alt" (click)="sortBy('POSTE')"></i></th>
              <th colspan="1">Domaine</th>
              <th colspan="2">Strates Équipes<i class="icone-sort pi pi-sort-alpha-down-alt" (click)="sortBy('STRATE')"></i></th>
              <th colspan="2">Profil<i class="icone-so  rt pi pi-sort-alpha-down-alt"></i></th>
              <th colspan="1">Équipes Supervisées<i class="icone-sort pi pi-sort-alpha-down-alt"></i></th>
              <th>Descriptif<i class="icone-sort pi pi-sort-alpha-down-alt"></i></th>
              <th colspan="2">Competences<i class="icone-sort pi pi-sort-alpha-down-alt" (click)="sortBy('COMPETENCE')"></i></th>
          </tr>
      </ng-template>
      {{regles.length }}

        <ng-template pTemplate="body" let-regle>
            <tr>
                <!-- <td>{{regle.deploiement}}</td> -->
                <td colspan="1">{{reformatMetier(regle.metier)}}</td>
                <!-- <td colspan="1">{{}}</td> -->
                <td colspan="3">{{regle.posteType}}</td>
                <td colspan="1">{{regle.domaine}}</td>
                <td colspan="2">{{regle.stratesEquipes}}</td>
                <td colspan="2">{{regle.profil}}</td>
                <td colspan="1">{{regle.equipesSupervisees}}</td>
                <td>{{regle.descriptifEquipesSupervisses}}</td>
                <td colspan="2">
                    <ng-container *ngFor="let competence of regle.competences">
                        {{competence.competence}}<br>
                    </ng-container>
                </td>
                <td>
                  <i class="icone far fa-eye fa-lg" (click)="viewDetail(regle)"></i>&nbsp;&nbsp;
                  <i class="icone fas fa-fw fa-book fa-lg"></i>&nbsp;&nbsp;
                </td>
            </tr>

        </ng-template>

    </p-table>

  </ng-container>

